<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786434805872-hf5h348b3hdlmgp5648v514r3rgbppr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786434805872-hf5h348b3hdlmgp5648v514r3rgbppr1</string>
	<key>API_KEY</key>
	<string>AIzaSyAfbQ4mMiWy0uFBOs_oUfZdkY-cSNqb8k0</string>
	<key>GCM_SENDER_ID</key>
	<string>786434805872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartstickApp</string>
	<key>PROJECT_ID</key>
	<string>smartstick2026-6a6ce</string>
	<key>STORAGE_BUCKET</key>
	<string>smartstick2026-6a6ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786434805872:ios:890bfdc8097f868f6064b5</string>
</dict>
</plist>